#App{
  width: 100vw;
  min-height: 100vh;
  background-image: url("./assets/image/background.jpg");
  background-position: center;
  background-size: cover;
  
}

#appBody{
  height: 70vh;
  
}

/* #appBody::before{
  content: "";
  background-image: url("./assets/image/background.jpg");
  background-position: center;
  background-size: cover;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.8;
  position: absolute;
} */

.appBody{
  min-height: 70vh;
}

.appHeader{
  height: fit-content;
}
.appFooter{
  height: fit-content;
}


