#App{
  width: 100vw;
  min-height: 100vh;
  background-image: url("./assets/image/background.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}


.appBody{
  min-height: 60vh;

  }

.appHeader{
  min-height: 10vh;
}
.appFooter{
  min-height: 30vh;
}


