#App{
  width: 100vw;
  min-height: 100vh;
  background-image: url("./assets/image/background.jpg");
  background-position: center;
  background-size: cover;
  
}

#appBody{
  height: 70vh;
  
}

.appBody{
  min-height: 70vh;
}

.appHeader{
  height: fit-content;
}
.appFooter{
  height: fit-content;
}


