/* Recipe card */
.menuElement{
    width: clamp(250px, 24vw, 380px);
    height: clamp(100px, 21vh, 230px);
    outline: 5px solid rgba(255, 166, 0, 0.755);
    background-color: orange;
    background-color: rgba(0, 0, 0, .7);
    transition: 300ms;
 
 
    }
    .menuElement:hover{
        transform: rotate(-3deg);
        /* animation-name: welcome;
        animation-duration: 600ms; */
    }
   .menuElement .image{
        width: clamp(100px, 7vw, 250px);
        height: clamp(100px, 7vw, 250px);
        border-radius: 50%;
    }
    

    #Speise #menu, .loadingSection{
        width: 90%;
        min-height: 60vh;
        font-size: clamp(10px,1vw, 16px);
      }


      /* MY MODAL */
         
      .modalContainer{
             z-index: 5;
             animation: fadeIn .5s ease;
         
         }

         .myModal{
            width: clamp(250px, 33vw, 500px);
            height: clamp(350px, 30vh, 300px);
            z-index: 6;  
            cursor: pointer;
            animation: fadeIn .5s ease;
           
          }

          
            .myModal:hover{
                transform: rotate(-3deg);
                
            }
           .myModal .image{
                width: clamp(100px, 7vw, 250px);
                height: clamp(100px, 7vw, 250px);
                border-radius: 50%;
            }

          /* ANIMATION */

          @keyframes fadeIn {
            from {
                opacity: 0;
            }
            to {
                opacity: 1;
            }
        }
        