.Footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height:fit-content;
  background-color: rgba(88, 25, 25, 0.76) ;
  color: aliceblue;
  
  
}
.myFooter {
  padding-top: 15px;
  display: flex;
  justify-content: center;
  
}
.social-icons{
  display: flex;
  justify-content: center;
  
}

.social-icons a {
  font-size: 30px;
  margin-left: 20px;
  color: beige;
  
}
.flex {
  width: 60vw;
  display: flex;
  justify-content: space-around;
  
}

.flex ul {
list-style-type: none;
margin: 0 !important;

}
.flex ul h3{
color: rgb(219, 219, 223);
font-size: 19px;

}
.flex ul a{
  color: azure;
  text-decoration: none;
}
.footer-end {
  background-color: rgba(88, 25, 25, 0.76) ;
  display: flex;
  justify-content: center;
}

.opening-hours {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.opening-hours li {
  margin: 5px;
}
.location {
  display: flex;
  
}

.location h3 {
  margin-right: 15px;
}
.location p {
  margin-right: 9px;
  font-size: 20px;

}
.footer-end .flex1 {
  margin: 0 !important;
}

.social-icons .facebook:hover
{
  color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons .instgram:hover
{
  color:#ea4c89
}
.app-initial{
    color: #007bb6;}