*{
    list-style: none;
  }
  :root{
      --theme-col: #ffc107;
      
  }
 
footer{
    background-color: #111010;
    padding: 1rem 5rem 0rem;
    bottom: 0;
    width: 100%;
    min-height: 30vh;

}
#footerWrapper{
    height: fit-content;
    display: flex;
    column-gap: 3rem;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: .5rem;
    /* grid-template-columns: repeat(4, minmax(0, 1fr)); */
    /* grid-gap: .5rem; */
}

footer .app-name{
    color: white;
    border-left: 4px solid var(--theme-col);
    padding-left: 1.5rem;
    font-size: 1.875rem;
    line-height: 2.25rem;
    font-weight: 700;
}


.app-name .app-initial{
    color: var(--theme-col);
}


footer .footer-title{ 
    font-size: 1.25rem;
    line-height: 1.75rem;
    color: white;
    border-left: 4px solid var(--theme-col);
    padding-left: 1.5rem;
    height: fit-content;
}
footer ul{ 
    padding-left: 1.75rem;
    color: white;
    font-size: 0.875rem/* 14px */;
    line-height: 1.25rem;
    margin-top: .5rem;
}
footer ul li{ 
    margin: .25rem  0;
    cursor: pointer;
    color: #d4d4d4;
    width: fit-content;
}
footer ul li a {
    text-decoration: none;
    color: #d4d4d4;
}
footer ul li:hover{
    color: white;
}
footer ul li a:hover {
    color: var(--theme-col);
}

footer .cr-cont{
    display: flex;
    flex-direction: column;
}
footer .cr-cont p{
    background-color: var(--theme-col);
    color: black;
    padding:.5rem ;
    text-align: center;
    margin-bottom: 0;
}

footer .cr-cont .Admin-agb-ds-imp{
    padding-top: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.daten-links{
    padding: 5px;
    color: lightgray;
    text-decoration: none;
    /* margin-bottom: 10px; */
}
.grid-item{
  width: clamp(240px, 20vw, 280px);
height: 8rem;
}

.facebook-icon, .instagram-icon, .twitter-icon {
    font-size: 1.3rem;
    margin-right: .5rem;
    margin-bottom: .5rem;
}

.instagram-icon:hover {
    color:#ea4c89

}




@media only screen and (max-width: 640px) {
    footer{
        padding: 1.5rem 0 ;
    }
}