#Events {
    min-height: 70vh;
    font-size: clamp(16px, 2.5vw, 25px);
}

#Events #menuNavigation {
    transition: 350ms;
    height: 5vh;
}

.active {
    color: rgba(255, 166, 0, 0.755);
}

#Events #menuNavigation:hover {
    background-color: black;
}

#eventsContainer {
    min-height: 70vh;
    
    
    
}

#eventsContainer section {
    width: clamp(250px, 30vw, 500px);
    height: clamp(250px, 45vh, 500px);

    font-size: clamp(16px, 3vw, 30px);
    transition: 300ms;
    outline: 10px solid rgba(255, 166, 0, 0.755);
    background-color: orange;
    background-color: rgba(0, 0, 0, 0.5);
}

#eventsContainer section:hover {
    transform: rotate(3deg);
}

#erstenCard {
    background-image: url(./img1.jpg);
    background-size: cover;
    background-position: center;
    
    
    
}
#zweitenCard {
    background-image: url(./img4.jpg);
    background-size: cover;
    background-position: center;
}
#drittenCard {
    background-image: url(./img5.png);
    background-size: cover;
    background-position: center;
   
    
}

.Regelmäßig {
    font-size: 100px;
}

.EventsBeschreibung {
    font-size: 20px;
    color: white;
    text-align: center;
    
    opacity: 0;
    
    

    
}
.EventsBeschreibung:hover{
    opacity: 1;
    
    
    
}
