#homeContainer {
  height: 100%;
  background-color: #000;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
  gap: 0;
  padding: 10px;
}

#homeContainer section {
  width: 100%;
  height: 40vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: clamp(16px, 3vw, 30px);
  transition: 300ms;
  border-radius: 4px;
  background-color: transparent;
  padding: 20px;
  margin: 0;
}

#homeContainer section:first-child {
  margin-top: 0;
}

#homeContainer section:last-child {
  margin-bottom: 0;
}

#mainDish {
  width: clamp(150px, 15vw, 250px);
  height: clamp(150px, 15vw, 250px);
  margin-left: 20px; 
  display: flex;
  align-items: center;
}

#mainDishImage {
  border-radius: 50%;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.flex-container section {
  flex-basis: 50%;
}

.image-background-section.hero-section {
  height: 600px;
  padding-left: 0;
  padding-right: 0;
  box-shadow: inset 0 -49px 50px rgba(0, 0, 0, 0.5);
}

.image-background-section.hero-section.cologne {
  background: url("https://images.pexels.com/photos/16120215/pexels-photo-16120215/free-photo-of-an-elegant-restaurant-interior-with-sofas-and-flower-decorations.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-position: 50%;
  background-size: cover;
}

.w-container {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
}

.container-full {
  max-width: 1200px;
  background-color: transparent;
}

.w-container {
  max-width: 1170px;
}

.container-full.slide-wrapper {
  height: 100%;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding-right: 180px;
  display: flex;
  position: relative;
}

.div-block {
  color: #fff;
  text-align: center;
  background-color: orange;
  background-color: rgba(0, 0, 0, 1);
  background-image: none;
  background-repeat: repeat;
  background-size: auto;
  border-radius: 18px;
  padding: 25px 45px 45px;
}


.image-gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center; 
  margin-top: 2.5rem;
}

#gallery{
  border-top: 1px solid orange;
  margin-right: 1.5rem;
}

.gallery-image {
  width: 150px; 
  height: 150px;
  object-fit: cover;
  border-radius: 4px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.gallery-image:hover {
  transform: scale(1.1);
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.modal-image {
  max-width: 90%;
  max-height: 90%;
  object-fit: contain;
  border-radius: 4px;
}

.div-text{
  margin-left: 1.5rem;
}

@media (max-width: 870px) {
  .gallery-image {
    width: 100px; 
    height: 100px; 
  }
}



    
