#homeContainer{
    height: 100%;
}

#homeContainer section{
width: clamp(250px, 30vw, 500px);
height: clamp(250px, 45vh, 500px);

font-size: clamp(16px, 2vw, 25px);
transition: 300ms;
/* outline: 10px solid rgba(255, 166, 0, 0.755); */
background-color: orange;
background-color: rgba(0, 0, 0, .7);
border-radius: 10px;
}


#homeContainer section:hover{
    transform: rotate(3deg);
    
}



#slider{
    width: 100%;
}

#imgBox{
    height: fit-content;
}

#offerDish{
    width: clamp(100px, 12vw, 250px);
    height: clamp(100px, 12vw, 250px);
   
   }

#offerDishImage{
    border-radius: 50%;
}

#offerName{
font-size: clamp(16px, 3vw, 30px);

}

    
