#homeContainer{
    
    }

    .backgroundCircle{
        width: 150px;
        height: 150px;
    }

    .circle{
        font-size: clamp(16px, 1vw, 40px);
        width: 120px;
        height: 120px;
        border-style: dashed;
    }

    /* $orange:  #fd7e14; */