#homeContainer{
    min-height:70vh ;
}

#homeContainer section{
width: clamp(250px, 30vw, 500px);
height: clamp(250px, 45vh, 500px);

font-size: clamp(16px, 3vw, 30px);
transition: 300ms;
outline: 10px solid rgba(255, 166, 0, 0.755);
background-color: orange;
background-color: rgba(0, 0, 0, .5);
}


#homeContainer section:hover{
    transform: rotate(3deg);
    
}


  


#mainDish{
    width: clamp(150px, 15vw, 250px);
    height: clamp(150px, 15vw, 250px);
    left: 20%;
    top: 25%;

   }

#mainDishImage{
    border-radius: 50%;
}



    
