.header {
  background-color: white ;
  width: 100%;
 padding-bottom: 1px;
}
  .logo {
    display: flex;
    justify-content: center;
    text-align: center;
  }
  .logo img {
    width:90px;
    height: 90px;
  }
  .menu ul {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 50px;
    align-items: center;
    list-style-type: none;
    padding: 0;
  }
  .menu li .main-link{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    text-decoration: none;
    color: rgb(3, 3, 3);
    font-size: 21px;
    text-align: center;
  }
.header .main-link {
  transition: color 0.3s ease, background-color 0.3s ease;
  padding: 5px;
  border-radius: 20px;
  }
  .header .main-link:hover {
    color: black;
  background-color:aqua;
  border-radius: 20px;
  }
  .cta {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .reservation {
    margin-top: 4px;
display: flex;
justify-content: center;
   align-items: center;
  }
  .reservation .reservation-1{
    display: flex;
    justify-content: center;
    text-decoration: none;
    margin-right: 10px;
    background-color: aqua;
    border-radius: 20px;
    padding: 7px;
    color: black;
  }
  .icon-1{
    margin-right: 5px;
  }